@import './colors';

input, select {
    border: 1px solid map-get($colors, gray);
    border-radius: 3px;
    padding: 7px;
    width: 100% !important;
}
input:focus {
    border: 1px solid map-get($colors, secondary);
    border-radius: 3px;    
}

input:checked{
    outline: 1px solid map-get($colors, success);
    border-radius: 3px;
    color: map-get($colors, success);
    background-color: map-get($colors, success) !important;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid map-get($colors, gray) !important;
  }