@import "./colors";

@mixin font-color($color-name) {
  color: map-get($colors, $color-name);
}

@mixin bg-color($color-name) {
  background-color: map-get($colors, $color-name);
}

@mixin border-color($color-name) {
  outline: none;
  border: 1px solid map-get($colors, $color-name) !important;
}

@mixin font-size-rem($size) {
  font-size: $size / 16 * 1rem;
}

