@import './colors';
@import './mixins';


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th{
    @include font-color(dark);
    @include font-size-rem(16);
    min-width: 50px;
    text-align: start;
    font-weight: 600;
}

td{
    @include font-color(secondary);
    min-width: 50px;
    text-align: start;
}


tr {
    height: 40px;
    border-bottom: 0.7px solid map-get($colors, light-gray) !important;    
}

thead tr {
    border-bottom: 2px solid map-get($colors, light-gray) !important; 
}

tr:hover {
    background-color: map-get($colors, light);
}

